<p>
  <%= link_to 'Idioma Portugues', root_path(locale: 'pt-BR') %>>
  <%= link_to 'Idioma Ingles', root_path('en') %>>
</p>
<h1>Seja Bem-Vindo!</h1>

<p><strong>Data:</strong> <%= l(Date.today) %> </p>
<p>A língua idioma usada nessa aplicação é: <%= I18n.locale  %></p>

<p> Seu nome de traz pra frente e <%= "Rafael".reverse %></p>

<%= render "menu" %>

<p>
  Você está no ambiente de <strong><%= ambiente_rails %></strong>
</p>